# --- Flask & Mongo ---
Flask==3.0.3
Flask-Cors==4.0.1
Flask-PyMongo==2.3.0
pymongo==4.9.2
dnspython==2.6.1

# --- ML / AI ---
tensorflow-cpu==2.20.0
numpy==1.26.4
h5py==3.13.0
matplotlib==3.9.2
pillow==10.4.0
gdown==4.7.1

# --- Computer Vision ---
opencv-python-headless==4.9.0.80
scikit-image==0.24.0

# --- Utilities ---
geopy==2.4.1
wrapt==1.17.2
zstandard==0.24.0
setuptools>=68.0
wheel>=0.42
pip>=25.1.1
